@using AzureDesignStudio.Core.Components
@using AzureDesignStudio.Core.Models
@using Blazor.Diagrams.Core
@using Blazor.Diagrams.Core.Models

<Form Model="@firewall" LabelCol="@(new ColLayoutParam { Span = 6 })" WrapperCol="@(new ColLayoutParam { Span = 18 })" Size="@FormSize.Small">
    <NameAndLocation Node="@context" />
    <FormItem>
        <RadioGroup @bind-Value="@context.Sku" ButtonStyle="@RadioButtonStyle.Solid" Size="@InputSize.Small">
            <Radio RadioButton Value="@("Premium")">Premium</Radio>
            <Radio RadioButton Value="@("Standard")">Standard</Radio>
        </RadioGroup>   
    </FormItem>
    <Divider Orientation="@DividerOrientation.Left" Plain>Firewall policy</Divider>
    <FormItem>
        <Input @bind-Value="@context.FirewallPolicy.Name" Size="@InputSize.Small" />
    </FormItem>
    <FormItem>
        <RadioGroup @bind-Value="@context.FirewallPolicy.Sku" ButtonStyle="@RadioButtonStyle.Solid" Size="@InputSize.Small">
            <Radio RadioButton Value="@("Premium")" Disabled="@(context.Sku.Equals("Standard"))">Premium</Radio>
            <Radio RadioButton Value="@("Standard")">Standard</Radio>
        </RadioGroup>    
    </FormItem>
</Form>

@code {
    [CascadingParameter]
    public NodeModel Node { get; set; } = null!;
    [CascadingParameter]
    public Diagram Diagram { get; set; } = null!;

    private AzureFirewallModel firewall => (AzureFirewallModel)Node;
}
