@using AzureDesignStudio.Core.Components
@using Blazor.Diagrams.Core
@using Blazor.Diagrams.Core.Models

<Form Model="@sqlServer" LabelCol="@(new ColLayoutParam { Span = 6 })" WrapperCol="@(new ColLayoutParam { Span = 18 })" Size="@FormSize.Small">
    <NameAndLocation Node="@context" />
</Form>

@code {
    [CascadingParameter]
    public NodeModel Node { get; set; } = null!;
    [CascadingParameter]
    public Diagram Diagram { get; set; } = null!;

    private SqlServerModel sqlServer => (Node as SqlServerModel)!;
}
